:root {
  --clr-darkcyan: hsl(158, 36%, 37%);
  --clr-cream: hsl(30, 38%, 92%);
  --clr-darkblue: hsl(212, 21%, 14%);
  --clr-darkgrayishblue: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-serif: "Fraunces", serif;
  --ff-sans: "Montserrat", sans-serif;


}

html {
  font-size: 14px;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: var(--ff-sans);
  background-color: var(--clr-cream);
  display: flex;
  justify-content: center;
  align-items: center;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

.card {
  overflow: hidden;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 2rem;
  min-width: 270px;  
}

.card__img-container {

  max-width: 100%;
  /* overflow: hidden; */
}

.card__img-desktop {
  display: none;
}


.card__text {
  padding: 2rem;
}

.card__title {
  font-family: var(--ff-serif);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.card__subtitle, .card__description, .card__retail-price {
  color: var(--clr-darkgrayishblue);
}

.card__subtitle {
  text-transform: uppercase;
  letter-spacing: .25rem;
  margin-bottom: 1rem;
  font-size: .75rem;
}

.card__description {
  margin-bottom: 1.5rem;
}


.card__prices {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

.card__current-price {
  font-family: var(--ff-serif);
  color: var(--clr-darkcyan);
  font-weight: 700;
  font-size: 2.5rem;
}

.card__retail-price {
  text-decoration: line-through;
}

.btn {
  background-color: var(--clr-darkcyan);
  color: var(--clr-white);
  font-weight: 500;
  border: none;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  font-family: inherit;
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.card__btn-icon {
  height: 1rem;
}



@media (min-width: 600px) {
  body {
    height: 100vh;
  }

  .card {
    flex-direction: row;
    max-width: 600px;

  }

  .card__img-container {
    width: 900px;
  }
 
  .card__img-mobile {
    display: none;
  }

  .card__img-desktop {
    display: block;
    max-width: 287px;
    max-height: 449px;
    height: 100%;
    width: auto;
    object-fit: fill;
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
